:root {
  --color-dark: #333333;
  --color-light: #F3FFF6;
  --color-accent: #B2EFC1;
  --color-complement: #EFB2E0;
  --font-content: 'Schibsted Grotesk', sans-serif;
  --font-heading: 'Bayon', sans-serif;
  --padding-default: 2em;
}
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-content);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
h1, h2 {
  font-family: var(--font-heading);
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.5em;
}
p {
  line-height: 1.75;
  text-align: justify;
}
header {
  background: var(--color-accent);
  padding: var(--padding-default);
}
main {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services {
  padding: var(--padding-default);
  display: flex;
  gap: 3em;
}
.services div {
  flex: 1;
}
@media (max-width: 64em) {
  .services {
    flex-direction: column;
  }
  .services h2 {
    text-align: left;
  }
}
.cta {
  padding: var(--padding-default);
  padding-top: 0;
  display: flex;
  justify-content: center;
  flex: 2;
}
.cta-button {
  color: var(--color-dark);
  background: var(--color-accent);
  border-radius: 2em;
  border: none;
  padding: 1.25em;
  max-height: 4em;
  margin: auto;
  font-family: var(--font-heading);
  font-size: 2em;
}
.cta-button:hover {
  background: var(--color-complement);
  cursor: pointer;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-default);
  padding-top: 1em;
  padding-bottom: 0;
  background: linear-gradient(to bottom, var(--color-accent), var(--color-light));
}
.logos {
  padding: .5em;
  display: flex;
  justify-content: center;
  gap: 1.5em 3em;
  flex-flow: row wrap;
}
.logos img {
  max-height: 2em;
}
.logos img:hover {
  opacity: 60%;
}
.copy {
  font-size: .75em;
}
.contact-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.contact {
  padding: 1.5em var(--padding-default);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-complement);
  display: flex;
  flex-direction: column;
  opacity: 98%;
  border-radius: 1em;
}
@media (max-width: 38em) {
  .contact {
    width: 98%;
  }
}
.close {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
.close:hover {
  color: var(--color-light);
  cursor: pointer;
}
.contact-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: .5em 0;
}
input, textarea {
  border: none;
  border-radius: .5em;
  padding: 1em;
  margin: .5em 0;
  width: 100%;
  max-width: 100%;
  font-family: var(--font-content);
}
form button {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-family: var(--font-heading);
  padding: .5em;
  border: none;
  border-radius: 1em;
  margin: auto;
  background: var(--color-accent);
}
form button:hover {
  background: var(--color-light);
  cursor: pointer;
}
.form-status {
  text-align: center;
  font-family: var(--font-heading);
}
